html {
  height: 100%;
  margin: 0;
}

:root {
  --box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  background-color: #fff;
  position: relative;
  line-height: 20px;
  font-family: Arial, 'Microsoft YaHei', sans-serif;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* fix for Firefox which will show a red border when a input
 is set to required */

input:required {
  box-shadow: none;
}

.md-box-shadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease;
}

.md-box-shadow:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12),
    0px 8px 8px 0px rgba(0, 0, 0, 0.24);
}

/* Document scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
/* 1. Top Bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 6;
}

.top-bar ul {
  list-style: none;
}

.global-nav {
  height: 47px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.global-nav-innner {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.search-btn {
  height: 24px;
  cursor: pointer;
}

.search-btn:hover {
  color: rgba(0, 0, 0, 0.12);
}

.search-btn > i {
  transition: color 0.3s ease;
}

.nav-list {
  margin: 0;
  padding: 0;
  color: #66757f;
  font-weight: bold;
  height: 47px;

  overflow: hidden;
}

.nav-list__item {
  height: 46px;
  float: left;
}

.nav-list__item:not(:first-child) {
  border-bottom: 1px solid #1b95e0;
}

.nav-list__item:not(:first-child):hover {
  color: #1c94e0;
}

.nav-list__item:not(:first-child):hover > a {
  border-bottom: 2px solid rgb(28, 148, 224);
}

.nav-list__item a {
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 14px 0 10px;
}

.sign-in-up {
  display: inline-flex;
  height: 47px;
  align-items: center;
}

/* 2. Drawer*/

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 47px;
  width: 100%;
  height: calc(100vh - 47px);
  pointer-events: none;
  overflow: hidden;
  z-index: 900;
}

.drawer__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  display: none;
  will-change: opacity;
  transition: opacity 0.4s ease;
}

.drawer__open {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.drawer__wrapper {
  position: absolute;
  flex-direction: column;
  left: 0;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  will-change: transform;
  overflow: hidden;
  pointer-events: auto;
}

.drawer__bg {
  width: 100%;
  height: 95px;
  background-size: 100%;
  background-position: 0 center;
}

.drawer__user {
  background-color: #fff;
  height: 60px;
}

.drawer__avatar {
  margin: -30px 0 0 8px;
  display: inline-block;
  border-radius: 50%;
}

.drawer__avatar img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
}

.drawer__username {
  position: absolute;
  left: 90px;
  top: 103px;
  background-color: #fff;
}

.user__name {
  font-weight: bold;
  font-size: 18px;
}

.drawer__menu {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex: 1;
}

.menu-list {
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}

.list-item {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.list-item__link {
  line-height: 1rem;
  display: block;
  width: 100%;
  padding: 12px 12px 12px 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.list-item__link:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.drawer__settings {
  height: 40px;
  background-color: rgba(123, 174, 236, 0.98);
}

/* 3. Page */

.page-container {
  height: 100%;
}

.page-outer {
  padding: 64px 10px 15px;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.content-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 3.1 Page List */

.page-lists {
  max-width: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 360px;
  width: 300px;
  margin: 0 10px 14px;
}

.post-item__content {
  flex-basis: 62.8%;
}

.post-item__img {
  flex-basis: 37.2%;
}

.post-item__img > a {
  display: block;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.content__wrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
}

/* New Post */
.text-editor {
  max-width: 180px;
  margin: 0 15px;
  min-width: 80%;
}

.submit-btn {
  margin: 20px 0;
  position: relative;
}

.loading-circle {
  position: absolute;
  color: green;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.ql-editor {
  min-height: 180px;
}

/* Form */
.form-container {
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 36px;
}

.sign-pane {
  display: flex;
}

.sign-pane__item {
  display: block;
  flex: 1;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: #fafbfc;
  border-bottom: 1px solid #dbe2e8;
  font-weight: 600;
  color: #7d97ad;
}

.sign-pane__item:last-child {
  border-left: 1px solid #dbe2e8;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 60px;
  justify-content: center;
  height: 400px;
  box-sizing: border-box;
}

/* Article */
.article-wrapper {
  min-height: 400px;
  width: 840px;
  max-width: 100%;
  margin: 20px auto;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
}

.article {
  margin: 0 auto;
  width: 740px;
  max-width: 100%;
  padding: 20px 0;
}

.article-title {
  margin: 20px 0;
  font-size: 42px;
  font-weight: 600;
  width: 100%;
  line-height: 1.04;
  color: rgba(0, 0, 0, 0.84);
  text-align: center;
}

.article-content {
  padding: 10px;
}

.article-content h1 {
  line-height: 1.04;
}

@media (max-width: 500px) {
  .post-item {
    margin-right: 0;
  }
}
