html {
  height: 100%;
  margin: 0;
}

:root {
  --box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

body {
  height: 100%;
  margin: 0;
  font-size: 14px;
  background-color: #e6ecf0;
  position: relative;
  line-height: 20px;
  font-family: 'Segoe UI', Arial, sans-serif;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* fix for Firefox which will show a red border when a input
 is set to required */

input:required {
  box-shadow: none;
}

.md-box-shadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease;
}

.md-box-shadow:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12),
    0px 8px 8px 0px rgba(0, 0, 0, 0.24);
}

/* 1. Top Bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 6;
}

.global-nav {
  height: 47px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.global-nav-innner {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.search-btn {
  height: 24px;
  cursor: pointer;
}

.search-btn:hover {
  color: rgba(0, 0, 0, 0.12);
}

.search-btn > i {
  transition: color 0.3s ease;
}

.nav-list {
  margin: 0;
  padding: 0;
  color: #66757f;
  font-weight: bold;
  height: 47px;

  overflow: hidden;
}

.nav-list__item {
  height: 46px;
  float: left;
}

.nav-list__item:not(:first-child) {
  border-bottom: 1px solid #1b95e0;
}

.nav-list__item:not(:first-child):hover {
  color: #1c94e0;
}

.nav-list__item:not(:first-child):hover > a {
  border-bottom: 2px solid rgb(28, 148, 224);
}

.nav-list__item a {
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 14px 0 10px;
}

.sign-in-up {
  display: inline-flex;
  height: 47px;
  align-items: center;
}

/* 2. Drawer*/

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 47px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 900;
}

.drawer__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  display: none;
  will-change: opacity;
  transition: opacity 0.4s ease;
}

.drawer__open {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.drawer__wrapper {
  position: absolute;
  flex-direction: column;
  left: 0;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  will-change: transform;
  overflow: hidden;
  pointer-events: auto;
}

.drawer__bg {
  width: 100%;
  height: 95px;
  background-size: 100%;
  background-position: 0 center;
}

.drawer__content {
  background-color: #fff;
}

.drawer__avatar {
  margin: -30px 0 0 8px;
  display: inline-block;
  border-radius: 50%;
}

.drawer__avatar img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
}

.drawer__user {
  position: absolute;
  left: 90px;
  top: 103px;
  background-color: #fff;
}

.user__name {
  font-weight: bold;
  font-size: 18px;
}

/* 3. Page */

.page-container {
  height: 100%;
}

.page-outer {
  padding: 64px 14px 15px;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.content-main {
  width: 100%;
}
/* 3.1 Page List */

.page-lists {
  max-width: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-item {
  display: flex;
  flex-direction: row;
  height: 260px;
  width: 530px;
  margin-bottom: 15px;
}

.post-item__content {
  flex-basis: 50%;
}

.post-item__img {
  flex-basis: 50%;
}

.content__wrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
}

/* New Post */
.text-editor {
  max-width: 180px;
  margin: 0 15px;
  min-width: 80%;
}

.submit-btn {
  margin: 20px 0;
}

.ql-editor {
  min-height: 180px;
}

/* Form */
.form-container form {
  max-width: 890px;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding-top: 30px;
  height: 100%;
  justify-content: center;
}
