.body>header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #4285f4;
    display: flex;
    align-items: center;
    z-index: 999;
}

main {
    min-width: calc(100% - 240px);
    max-width: 100%;
    position: absolute;
    left: 240px;
    top: 60px;
}

main .mdc-layout-grid__cell {
    height: 200px;
    padding: 10px;
}

main [class*=mdc-elevation--z] {
    padding: 10px;
    height: 100%;
}

.home-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

aside {
    position: fixed;
    top: 50px;
}